* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background: url("/FrontEnd/Images/body-image.png") no-repeat;
    background-position: top center;
    background-attachment: scroll;
    height: 100%;
    min-width: 100%;
    overflow-x: hidden;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}
::-webkit-scrollbar {
    width: 11px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
    background-color: #2026a7;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #9d22e3;
}

.nav-div {
    padding: 1rem 1rem;
}

.nav-div img {
    width: 20%;
}
.nav-div,
.nav-div-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-div-ul {
    gap: 1.5em;
}

.nav-div-ul li a {
    opacity: 0.7;
    transition: all 300ms ease;
}

.nav-div-ul li a:hover {
    opacity: 1;
}

.hero-div-main,
.hero-div-title-sub,
.hero-div-span-btn,
.about-div-main,
.about-div-title-text,
.about-div-title-img,
.about-tech-chronicles-div-main,
.rules-regulations-div-main,
.rules-regulations-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-div-main {
    padding: 9rem 0 3rem 0;
    gap: 6rem;
}
.hero-div-span-btn {
    gap: 1rem;
}

.hero-div-main h1 {
    font-size: 7.5em;
}
.hero-div-main p {
    font-size: 2em;
    text-align: center;
}

.hero-div-span-btn span {
    font-size: 3em;
    text-align: center;
}

.medium-btn {
    background: url("/FrontEnd/Images/medium.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 16px;
    padding: 2rem 5rem;
    outline: 0;
    border: 2px solid black;
    box-shadow: 8px 8px rgba(64, 106, 255, 1);
    transition: all 300ms ease;
}

.medium-btn:hover {
    border: 2px solid #1579d6;
}

/* About Section  */
.about-div-title-text {
    padding: 0 12rem;
    gap: 2rem;
}
.about-div-title-text h1 {
    font-size: 3em;
    text-align: center;
}
.about-div-title-text p {
    text-align: center;
    font-size: 1.5em;
}
.about-div-main {
    gap: 3rem;
}
.about-div-title-img {
    gap: 1.5rem;
}
.about-div-title-img h1 {
    font-size: 2.5em;
}
.about-div-title-img-containers {
    display: flex;
    gap: 10rem;
}

.about-div-title-img-containers div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 14rem;
    height: 15rem;
    border: 2px solid black;
    border-radius: 16px;
    background-color: white;
    box-shadow: 8px 8px rgba(64, 106, 255, 1);
}

.about-div-title-img-containers div span:nth-child(1),
.about-div-title-img-containers div span:nth-last-child(1) {
    color: black;
    font-weight: 500;
    position: absolute;
}
.about-div-title-img-containers div span:nth-child(1) {
    top: 1rem;
}
.about-div-title-img-containers div span:nth-last-child(1) {
    bottom: 1rem;
}

/* About texh chronicles  */

.about-tech-chronicles-div-main {
    gap: 3rem;
    align-items: center;
}
.about-tech-chronicles-div-main h1 {
    font-size: 3em;
    text-align: center;
}

.about-tech-chronicles-div-content-img,
.rules-regulations-div-content-img {
    display: flex;
    align-items: center;
}
.about-tech-chronicles-div-content-img {
    padding: 0 0 0 8rem;
}

.about-tech-chronicles-content-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.about-tech-chronicles-content-container p,
.rules-regulations-div-content-img p,
.about-tech-chronicles-content-container-sub-text span {
    font-size: 1.5em;
    line-height: 1.5em;
}

.about-tech-chronicles-content-container-sub-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about-tech-chronicles-content-container-sub-text button {
    color: black;
    padding: 1rem;
    background-color: white;
    border-radius: 16px;
    font-weight: 500;
    box-shadow: 0px 0px 4px #979bff;
    border: 0;
    outline: 0;
}
.about-tech-chronicles-content-container-sub-text-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}
.rules-regulations-div-main {
    gap: 3rem;
    align-items: center;
}
.rules-regulations-div-content-img {
    flex-direction: row-reverse;
    padding: 0 4rem 0 0;
}
.rules-regulations-div-content-img img {
    width: 60%;
}
.rules-regulations-div-main h1 {
    font-size: 3em;
    text-align: center;
}
.rules-regulations-content-container {
    gap: 1rem;
}
.rules-regulations-content-container p {
    width: 85%;
}

.prizes-div-content-img {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 0 0 4rem;
}
.prizes-div-content-img p {
    font-size: 3em;
}

/* Submit  */
.submit-div-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-div-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    background: linear-gradient(180deg, #2d33b7 0%, #1d23ac 100%);
    box-shadow: 0px 0px 25px 6px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

/* Footer  */

section.footer {
    background: rgba(0, 2, 55, 0.65);
    box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    margin-top: 16rem;
}
section.footer h1 {
    font-size: 2.5em;
}

.footerDiv {
    display: flex;
    flex-direction: column;
    padding: 6rem 8rem 3rem 8rem;
    gap: 3rem;
}

.footerContentDiv {
    display: flex;
    align-items: centers;
    justify-content: space-between;
}

.footerContentTextDiv {
    width: 50%;
}

.footerContentText {
    color: white;
    padding: 1rem 0;
    font-size: 1.5em;
    line-height: 180%;
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
}

.footerLinksDiv {
    display: flex;
    flex-direction: column;
}

.footerLinksDiv ul {
    padding: 1rem 0;
}
.footerLinksDiv li {
    padding: 0.25rem 0;
}

.footerLinksDiv a {
    /* text-decoration: underline; */
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.5em;
    transition: all 300ms ease;
}
.footerLinksDiv a:hover {
    color: rgba(255, 255, 255, 1);
}

.footer-bottom-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerBottom {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footerBottomCopyrightDiv img {
    width: 1rem;
}

.footerBottomCopyrightDiv span {
    font-size: 1.25em;
}

.footerSocials {
    display: flex;
    gap: 2rem;
}

.footerSocials a img {
    width: 20px;
    opacity: 0.6;
    transition: all 300ms ease;
}

.footerSocials a img:hover {
    opacity: 1;
}

.side-fixed-btn {
    background-color: rgb(248, 248, 248);
    border-radius: 50%;
    box-shadow: 0px 4px rgba(64, 106, 255, 1);
    width: fit-content;
    padding: 8px 10px;
    position: fixed;
    bottom: 32px;
    right: 16px;
    transition: all 300ms ease;
    z-index: 100;
}

.side-fixed-btn:hover {
    transform: translateY(-8px);
}
