.submission-main-container {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

#modal {
    background: linear-gradient(180deg, #2b31d2 0%, #191e8c 100%);
    border-radius: 8px;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    display: none;
    /* border: 2px solid red; */
    width: 400px;
    height: 160px;
    z-index: 3;
}

.modal_text {
    font-size: 1.25em;
    font-weight: 700;
    text-align: center;
    padding: 0 2rem;
}

.modal__button {
    width: 80px;
    height: 40px;
    /* position: absolute; */
    border-radius: 8px;
    outline: 0;
    border: 0;
    align-self: center;
    background: white;
    color: black;
    font-weight: 700;
    box-shadow: 4px 4px 0px #4b68ff;
}

.black-bg {
    position: absolute;
    background: rgba(0, 0, 0, 0.55);
    width: 100vw;
    height: 100%;
    z-index: 2;
    display: none;
}

.submission-main-container-title {
    display: flex;
    gap: 1.25em;
    flex-direction: column;
    align-items: center;
}

.submission-main-container-title > h1 {
    font-size: 3em;
}
.submission-main-container-title > span {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
}
.submission-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    width: 60vw;

    background: linear-gradient(180deg, #2b31d2 0%, #191e8c 100%);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.submission-form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.submission-form-field > input {
    border-radius: 8px;
    color: black;
    padding: 0.4rem;
    outline: 0;
    border: 0;
}

.submit-btn {
    width: fit-content;
    text-align: center;
    align-self: center;
    background-color: white;
    color: black;
    font-size: 1em;
    font-weight: 800;
    border-radius: 12px;
    width: 140px;
    height: 48px;
    outline: 0;
    border: 1px solid black;
    box-shadow: 4px 4px rgba(64, 106, 255, 1);
    transition: all 400ms ease;
}

.submit-btn:hover {
    background-color: rgba(64, 106, 255, 1);
    color: white;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 8px 8px rgb(255, 255, 255);
}
.submission-form-main-container h1 {
    text-align: center;
    padding: 1em;
}

/* Media queries  */

@media only screen and (max-width: 750px) {
    .submission-form {
        width: 90vw;
    }
}

@media only screen and (max-width: 500px) {
    #modal {
        width: 300px;
        height: 160px;
        z-index: 3;
    }
}
@media only screen and (max-width: 350px) {
    #modal {
        width: 270px;
        height: 160px;
        z-index: 3;
    }
}

@media only screen and (max-width: 450px) {
    .submission-main-container-title > span {
        font-size: 1.5em;
    }
    .submission-form {
        padding: 3rem 1.5rem;
        gap: 1.25rem;
    }
    .submit-btn {
        padding: 0.5rem 2rem;
    }
}
